body {
    background-color: #c5c6d0;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    width: 40%;
  }
  
  

  input{
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .description-field {
    height: 200px;
    width: 40%;
  }
  
  button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }